[user]
    name = André Valle
    email = andrevvalle@icloud.com
[color]
  diff = auto
  status = auto
  branch = auto
  interactive = auto
  ui = true
  pager = true

[color "branch"]
  current = yellow
  local = white
  remote = green

[color "diff"]
  meta = yellow
  frag = magenta
  old = red bold
  new = green bold

[color "status"]
  added = yellow
  changed = green
  untracked = cyan
